section.left {
  position: absolute;
  top: 50px;
  left: 1%; 
  width: 450px;
  bottom: 0;
}

section.right {
  position: absolute;
  top: 55px;
  left: 480px;
  width: 60%;
  bottom: 0;
}

.header {
  color: rgb(236, 238, 237);
  background: rgb(49, 49, 51);
  width: 100%;
  text-align: center;
  padding: 1px 10px 1px 10px;
}

.header > h1 {
  margin: 0;
}

.control-panel,
.samples
.messages {
  background: rgb(236, 238, 237);
  border: solid rgb(49,49,51) 1px;
  color: rgb(49, 49, 51);
  padding: 5px;
  margin: 5px;
  overflow: scroll;
  overflow-y: visible;
}

.control-panel {
  width: 100%;
  height: 55px;
}

.samples {
  height: 576px;
  width: 100%;
  font-size: 12px;
}

.messages {
  border: none;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background: antiquewhite;
}

.selected {
  color: blue;
}

.hljs {
  white-space: pre;
}
.callsites {
  border: solid black 2px;
  padding: 10px;
  margin-top: 5px;
}

/* highlightjs styles */
/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #999999;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #f2777a;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f99157;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #ffcc66;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #99cc99;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #6699cc;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #cc99cc;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
