{{#each this}}
  <h3 class="summary">{{summary.name}}</h3>
  <p class="location">{{summary.location}}</p>
  <p class="allocations">{{summary.allocations}}</p>
  {{#if source}}
  <code class="js hljs">
{{{source}}}
  </code>
  {{/if}}
{{/each}}
